html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  li {
    list-style: none;
  }
  html {
    height: 100%;
  }
  body {
    color: #666;
    height: 100%;
    font-size: 1.4rem;
    font-family: -apple-system-font, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'Helvetica Neue', sans-serif;
  }
  body,
  span,
  label,
  p,
  a,
  div,
  li,
  dt,
  dd,
  i,
  em,
  section,
  article,
  :after,
  :before,
  button,
  input {
    background-repeat: no-repeat;
    background-size: 100%;
  }
  a {
    color: #666;
    text-decoration: none;
    background-color: transparent;
    -webkit-user-select: none;
  }
  a:active {
    color: #333;
  }
  a:not([href]):focus {
    outline: 0;
  }
  img {
    max-width: 100% !important;
    vertical-align: middle;
    border-style: none;
  }
  table {
    border-collapse: collapse;
  }
  th {
    text-align: left;
  }
  input,
  button,
  select,
  optgroup,
  textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
    background-color: #fff;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    outline: 0;
  }
  button,
  input {
    border-radius: 0;
    overflow: visible;
  }
  input[type='radio'],
  input[type='checkbox'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  input[type='radio']:disabled,
  input[type='checkbox']:disabled {
    cursor: not-allowed;
  }
  textarea {
    overflow: auto;
    resize: vertical;
  }
  [type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    height: auto;
  }
  em,
  h3 {
    font: inherit;
  }
  h3 {
    font-size: 2.8rem;
  }
  .blank{
      background-color: #fff;
      height: 1rem;
  }
  .shadow-top{
    margin-top: 1rem;
    box-shadow: 0 -0.2rem 0.5rem 0 rgba(0,0,0,.06);
  }
  .shadow-bottom{
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,.06);
    margin-bottom: 1.2rem;
  }

.vux-divider{
    color: #ccc !important;
}
// 主题色
$primaryColor: #0A8BF7;
//   tab
.vux-tab .vux-tab-item{
    font-size: 1.4rem !important;
}
// swiper 
.vux-slider > .vux-indicator > a > .vux-icon-dot,
.vux-slider .vux-indicator-right > a > .vux-icon-dot{
    width: 0.8rem !important;
 }
.vux-slider > .vux-indicator > a > .vux-icon-dot.active,
.vux-slider .vux-indicator-right > a > .vux-icon-dot.active {
    background-color: $primaryColor !important;
    width: 1.8rem !important;
}